/* common css */

body {
    padding: 0px;
    margin: 0px;
}

.container {
    padding-top: 30px;
    padding-bottom: 30px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-bottom: 20px;
    font-family: "Lucida Sans Unicode", "Lucida Grande", Arial, Verdana, sans-serif;
    font-weight: bold;
}

p,
ul {
    margin-bottom: 20px;
    line-height: 1.8;
}

    ul li {
        line-height: 1.8;
    }

.btn.btn-info {
    border: 1px solid red;
    background-color: transparent;
    padding: 12px 25px;
    color: red;
    margin-top: 30px;
    margin-bottom: 30px;
}

    .btn.btn-info:hover,
    .btn.btn-info:focus {
        border: 1px solid red;
        background-color: red;
        padding: 12px 25px;
        color: #fff;
    }

.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
    background-color: #eee;
    opacity: 1;
    height: 40px;
    border-radius: 0px;
    border: 1px solid #ccc;
}
/* common css end */

.navbar-brand {
    height: auto;
}

.navbar-default {
    margin-bottom: 0px;
}

    .navbar-default .container {
        padding-bottom: 0px;
        padding-top: 0px;
    }

.btn-success {
    color: #fff;
    background-color: #66bb6a;
    border-color: #66bb6a;
}

.user_wraper {
    margin-left: 15px;
}

.user_item {
    border: 1px solid #000;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    background: #ccc;
    margin-top: 8px;
    margin-bottom: 8px;
    padding: 0px !important;
    text-align: center;
    line-height: 35px !important;
    font-size: 18px;
}

/*---------------------------------*/
.dashboard_wraper {
    overflow-x: hidden;
}

/*sidebar css*/
#wrapper .sidebar {
    width: 240px;
    height: 100%;
    float: left;
    background-color: #383838;
    position: fixed;
    left: 0;
    overflow-y: auto;
    padding-left: 0px;
    padding-right: 0px;
}

.sidebar {
    margin-top: 0px;
    z-index: 9;
}

    .sidebar .site_logo.well {
        background: transparent;
        border: 0px;
        border-bottom: 1px solid #ccc;
        border-radius: 0px;
    }

#wrapper #sidebar-nav {
    padding-bottom: 30px;
}

.sidebar .list-group-item {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

.sidebar .list-group-item {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.sidebar .list-group-item {
    padding: 5px 15px;
    margin-bottom: -1px;
    background-color: transparent;
    border: 1px solid transparent;
    color: #fff;
}

    .sidebar .list-group-item:hover {
        color: #fff;
        background-color: #66bb6a;
        border: 1px solid #66bb6a;
    }
/*MainContent Navbar*/
.main_containt .navbar-fixed-top {
    width: -moz-calc(100% - 240px);
    width: -webkit-calc(100% - 240px);
    width: -o-calc(100% - 240px);
    width: calc(100% - 240px);
    left: auto;
    right: 0px;
}

/*Main COntent */
#wrapper .main_containt {
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    width: -moz-calc(100% - 240px);
    width: -webkit-calc(100% - 240px);
    width: -o-calc(100% - 240px);
    width: calc(100% - 240px);
    position: relative;
    float: right;
    left: 0;
    background-color: #f2f2f2;
    padding-top: 120px;
    min-height: 100vh;
}
/*main header */

.navbar-default {
    background-color: #ffffff;
    border-color: #e7e7e7;
    padding: 10px 0px;
}

/*Accordian css*/
.panel-default > .panel-heading {
    color: #fff;
    background-color: #2b2b2b;
    border-color: #2b2b2b;
}

.panel-heading {
    padding: 0px;
}

.panel-default > .panel-heading.active {
    background-color: #66bb6a;
}
.panel-default > .panel-heading.active.orange {
    background-color: #66bb6a;
}
.panel-title > a {
    display: inline-block;
    width: 100%;
    padding: 15px 15px;
}

    .panel-title > a:before {
        float: right !important;
        font-family: FontAwesome;
        content: "\f068";
        width: 20px;
        height: 20px;
        background: #fff;
        border-radius: 50%;
        color: #66bb6a;
        text-align: center;
        display: inline-block;
        line-height: 20px;
        padding: 0px;
    }

    .panel-title > a.collapsed:before {
        float: right !important;
        content: "\f067";
        color: #2b2b2b;
    }

    .panel-title > a:hover,
    .panel-title > a:active,
    .panel-title > a:focus {
        text-decoration: none;
    }

.panel-group .panel + .panel {
    margin-top: 30px;
}

.panel-body {
    padding: 15px 30px;
}

.icon_well {
    min-height: 20px;
    margin-bottom: 20px;
    padding: 0px;
    border: 0px;
    background: transparent;
}

.overlay-refresh {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    font-size: 18px;
    text-align: center;
    background: rgba(246,246,246,0.88);
}

/*form*/
.form-horizontal.label-left .control-label {
    text-align: left;
}

.form-control {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    border-color: #e1e3ea;
    background-color: #fcfcfc;
    color: #5e6773;
}

@media(min-width:768px) {
    #wrapper .sidebar {
        width: 240px;
        height: 100%;
        float: left;
        position: fixed;
        left: 0;
        overflow-y: auto;
        padding-left: 0px;
        padding-right: 0px;
    }

    #wrapper .main_containt {
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -ms-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
        width: -moz-calc(100% - 240px);
        width: -webkit-calc(100% - 240px);
        width: -o-calc(100% - 240px);
        width: calc(100% - 240px);
        position: relative;
        float: right;
        left: 0;
        background-color: #f2f2f2;
        padding-top: 120px;
        min-height: 100vh;
    }
}

/*information table*/
.no-margin {
    margin: 0 !important;
}

.table-info thead {
    display: none;
}

.table.table-info > thead > tr {
    font-size: 13px;
    background-color: #f2f4f7;
    color: #a1a7af;
}

    .table.table-info > thead > tr > th {
        border-bottom: none;
    }

.table.table-info > tbody > tr {
    font-size: 14px;
}

.table-info tbody > tr > td {
    border: none;
    padding: 0 0 5px 0;
    text-align: left;
}

    .table-info tbody > tr > td:first-child {
        width: 160px;
       
    }

    .table-info tbody > tr > td:last-child {
     
        font-weight:bold;
    }

/* Dasboard list css */
    .list-group h3{margin-bottom: 40px;}
    .list-group-item {
        position: relative;
        display: block;
        padding: 10px 15px;
        margin-bottom: -1px;
        background-color: #353333de;
        border: 1px solid #ddd;
        color: #fff;
        border-radius: 6px;
        margin-bottom: 20px;
     }
     
     .list-group-item .card-title{
        font-size: 20px;
        letter-spacing: 1px;
     }
     
     .list-group-item .card-link{
        text-align: right;
        padding-top: 15px;
     }
     
     .list-group-item .card-link a{
     color: #b2e5ea;
        text-decoration: none;
        font-weight: bold;
        letter-spacing: 1px;
     }

     .footer-well{
        min-height: 20px;
        padding: 19px;
        margin-bottom: 0px;
        background-color: #f5f5f5;
        border: 1px solid #e3e3e3;
        border-radius: 4px;
        -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
        box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
     }