/* common css */

body {
    padding: 0px;
    margin: 0px;
}

.container {
    padding-top: 30px;
    padding-bottom: 30px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-bottom: 20px;
    font-family: "Lucida Sans Unicode", "Lucida Grande", Arial, Verdana, sans-serif;
    font-weight: bold;
}

p,
ul {
    margin-bottom: 20px;
    line-height: 1.8;
}

    ul li {
        line-height: 1.8;
    }

.btn.btn-info {
    border: 1px solid red;
    background-color: transparent;
    padding: 12px 25px;
    color: red;
    margin-top: 30px;
    margin-bottom: 30px;
}

    .btn.btn-info:hover,
    .btn.btn-info:focus {
        border: 1px solid red;
        background-color: red;
        padding: 12px 25px;
        color: #fff;
    }


/* common css end */


.dashboard_wraper {
    overflow-x: hidden;
}

/*Main COntent */
#wrapper .main_containt {
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    width: -moz-calc(100% - 240px);
    width: -webkit-calc(100% - 240px);
    width: -o-calc(100% - 240px);
    width: calc(100% - 240px);
    position: relative;
    float: right;
    left: 0;
    background-color: #f2f2f2;
    padding-top: 120px;
    min-height: 100vh;
}


/*Accordian css*/
.panel-default > .panel-heading {
    color: #fff;
    background-color: #2b2b2b;
    border-color: #2b2b2b;
}

.panel-heading {
    padding: 0px;
}

.panel-default > .panel-heading.active {
    background-color: #66bb6a;
}

.panel-title > a {
    display: inline-block;
    width: 100%;
    padding: 15px 15px;
}

    .panel-title > a:before {
        float: right !important;
        font-family: FontAwesome;
        content: "\f068";
        width: 20px;
        height: 20px;
        background: #fff;
        border-radius: 50%;
        color: #66bb6a;
        text-align: center;
        display: inline-block;
        line-height: 20px;
        padding: 0px;
    }

    .panel-title > a.collapsed:before {
        float: right !important;
        content: "\f067";
        color: #2b2b2b;
    }

    .panel-title > a:hover,
    .panel-title > a:active,
    .panel-title > a:focus {
        text-decoration: none;
    }

.panel-group .panel + .panel {
    margin-top: 30px;
}

.panel-body {
    padding: 15px 30px;
}

.icon_well {
    min-height: 20px;
    margin-bottom: 20px;
    padding: 0px;
    border: 0px;
    background: transparent;
}

.overlay-refresh {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    font-size: 18px;
    text-align: center;
    background: rgba(246,246,246,0.88);
}

/*form*/
.form-horizontal.label-left .control-label {
    text-align: left;
}

.form-control {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    border-color: #e1e3ea;
    background-color: #fcfcfc;
    color: #5e6773;
}

@media(min-width:768px) {
   
}

/*information table*/
.no-margin {
    margin: 0 !important;
}

.table-info thead {
    display: none;
}

.table.table-info > thead > tr {
    font-size: 13px;
    background-color: #f2f4f7;
    color: #a1a7af;
}

    .table.table-info > thead > tr > th {
        border-bottom: none;
    }

.table.table-info > tbody > tr {
    font-size: 14px;
}

.table-info tbody > tr > td {
    border: none;
    padding: 0 0 5px 0;
    text-align: left;
}

    .table-info tbody > tr > td:first-child {
        width: 160px;
       
    }

    .table-info tbody > tr > td:last-child {
     
        font-weight:bold;
    }